core/xmlimporthandler/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="plan">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="script" type="scriptType"
            maxOccurs="unbounded" minOccurs="0">
        </xs:element>
        <xs:element name="inputs" maxOccurs="1" minOccurs="0">
            <xs:annotation>
                <xs:documentation>
                    Inputs required for this import handler to run
                </xs:documentation>
            </xs:annotation>
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="param" maxOccurs="unbounded"
                        minOccurs="0">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute type="xs:string"
                                        name="name" use="optional" />
                                    <xs:attribute type="xs:string"
                                        name="type" use="optional" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="datasources" maxOccurs="1" minOccurs="1">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="db">
                        <xs:annotation>
                            <xs:documentation>
                                Define data sources to be used. Data
                                sources
                            </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute type="xs:string"
                                        name="name" />
                                    <xs:attribute type="xs:string"
                                        name="url" />
                                    <xs:attribute type="xs:string"
                                        name="username" />
                                    <xs:attribute type="xs:string"
                                        name="password" />
                                    <xs:attribute type="xs:string"
                                        name="vendor" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="pig">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute type="xs:string"
                                        name="name" />
                                    <xs:attribute type="xs:string"
                                        name="connection" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="import" maxOccurs="1" minOccurs="1">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="entity">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="query">
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension
                                                base="xs:string">
                                                <xs:attribute
                                                    type="xs:string" name="target" />
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="field"
                                    maxOccurs="unbounded" minOccurs="0">
                                    <xs:annotation>
                                        <xs:documentation>
                                            "Convert" fields to
                                            datasources
                                        </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension
                                                base="xs:string">
                                                <xs:attribute
                                                    type="xs:string" name="name" use="optional" />
                                                <xs:attribute
                                                    type="xs:string" name="transform" use="optional" />
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="entity"
                                    maxOccurs="unbounded" minOccurs="0">
                                    <xs:complexType mixed="true">
                                        <xs:sequence>
                                            <xs:element name="field"
                                                maxOccurs="unbounded" minOccurs="0">
                                                <xs:complexType>
                                                    <xs:simpleContent>
                                                        <xs:extension
                                                            base="xs:string">
                                                            <xs:attribute
                                                                type="xs:string" name="name" use="optional" />
                                                            <xs:attribute
                                                                type="xs:string" name="jsonpath" use="optional" />
                                                        </xs:extension>
                                                    </xs:simpleContent>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                        <xs:attribute type="xs:string"
                                            name="datasource" use="optional" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute type="xs:string"
                                name="name" />
                            <xs:attribute type="xs:string"
                                name="datasource" />
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="predict" type="predictType" maxOccurs="1"
            minOccurs="0">
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
  </xs:element>

    <xs:complexType name="scriptType"></xs:complexType>


    <xs:complexType name="predictType"></xs:complexType>
</xs:schema>